<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The list of</title>
</head>
<body>
{% if Request_List %}
<ul>
<h2>POST</h2>
        {% for request in Request_List %}
            {% if request.type == "POST" %}
                <li><a href="/test1/post/{{request.id}}/">{{ request.name }}</a></li>
            {% endif %}
    {% endfor %}
</ul>
<ul>
<h2>GET</h2>
    {% for request in Request_List %}
            {% if request.type == "GET" %}
                <li><a href="/test1/get/{{request.id}}/">{{ request.name }}</a></li>
            {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>no person_list</p>
{% endif %}
</body>
</html>