
<html>

<head>
<meta charset="utf-8">


</head>


<body>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<html>
<head>

</head>
<body>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<div class="top_menubg">
    <div class="mainscreen">
    <div class="floatleft" >
        <div id="ioffice_portal_tabs_vertial" class="ioffice_portal_tabs">
            <ul>
                <li class ="nav_t">
                    <span class="portaltitletext"><a href="/">Home</a></span>
                </li>
                <li class ="nav_t">
                    <span class="portaltitletext" ><a href="" onclick="javascript:history.back(1)">Back</a></span>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
<div style="float:left; margin:10px 5px 15px 30px;" >
    <h1>文件上传</h1>

<form method="post" enctype="multipart/form-data" >
{{uf.as_p}}

<input type="submit" value="ok"/>
    </form>
    </div>
</body>

</html>
