<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

<div class="top_menubg">
    <div class="mainscreen">
    <div class="floatleft" >
        <div id="ioffice_portal_tabs_vertial" class="ioffice_portal_tabs">
            <ul>
                <li class ="nav_t">
                    <span class="portaltitletext"><a href="/">Home</a></span>
                </li>
                <li class ="nav_t">
                    <span class="portaltitletext" ><a href="" onclick="javascript:history.back(1)">Back</a></span>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>


<ul style="float:left; margin:25px 5px 15px 25px;">
    <p><a href="/test1"><img src="/static/png/1.png" mce_src="png/1.png" width="25" height="20" >接口测试</a></p>
    <p><a href="/md5"><img src="/static/png/2.png" mce_src="png/2.png" width="25" height="20" >MD5工具</a></p>
    <p><a href="/utf"><img src="/static/png/3.png" mce_src="png/3.png" width="25" height="20" >转码工具</a></p>
    <p><a href="/auto_py"><img src="/static/png/1.png" mce_src="png/3.png" width="25" height="20" >py执行器(已剥离)</a></p>
    <p><a href="/testCaseApp"><img src="/static/png/2.png" mce_src="png/3.png" width="25" height="20" >测试框架相关(已剥离)</a></p>
    <p><a href="/log_test"><img src="/static/png/2.png" mce_src="png/3.png" width="25" height="20" >log(已剥离)</a></p>
</ul>



{#<div class="div1">#}
{#	<div class="div2">div2</div>#}
{#	<div class="div3">div3</div>#}
{#  </div>#}


</body>
</html>

